<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>EJS Profile Page</h1>
    <h2>Welcome <%=user.name%></h2>
    <h3>email: <%=user.email%></h3>
    <h3>Contact: <%=user.contact%></h3>
    <h3>City: <%=user.city%></h3>
    <h3>Color: <%=user.color%></h3>
    <%-include('common/header')%>
</body>
</html>